// Colors
$iron: #e3e3e4;
$lilac: #f2f5fa;
$marino: #4066a5;
$pale: #6a707b;
$vulcan: #131821;

//Font sizes
$fs-normal: 14px;
$fs-desktop: 16px;
$fs-title: 24px;
$fs-heading: 32px;

//Line height
$lh-small: 24px;
$lh-normal: 26px;
$lh-large: 28px;
$lh-header-sm: 34px;
$lh-header-lg: 44px;

//Font-family
$arial: Arial, sans-serif;
$georgia: Georgia, serif;
