// Colors
$facebook: #4267b2;
$instagram: #c13584;
$iron: #e3e3e4;
$lilac: #f2f5fa;
$marino: #4066a5;
$pale: #6a707b;
$twitter: #1da1f2;
$vulcan: #131821;
$youtube: #ff0000;

//Font sizes
$fs-normal: 14px;
$fs-desktop: 16px;
$fs-title: 24px;
$fs-heading: 32px;

//Line height
$lh-small: 24px;
$lh-normal: 26px;
$lh-large: 28px;
$lh-header-sm: 34px;
$lh-header-lg: 44px;

//Font-family
$heading: Georgia, serif;
$normal: Arial, sans-serif;
